# Miscallenous 
scripts
logs
.DS_Store


# Npm and node
node_modules
npm-debug.log

# Data & stats
demoData
coverage

# Dockerfiles 
.dockerignore

# Code files 
dist

# Dev 
Dockerfile.dev
docker-compose.dev.yaml

# Prod
Dockerfile
docker-compose.yaml

# Git
.gitignore
.github
.git/


# Documentation 
README.md